<ng-scrollbar>
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let header of table.getHeaderGroups()[0].headers" (click)="onHeaderClick(header.column)"
          style="cursor: pointer;">
          {{ header.column.columnDef.header }}
          <ng-container *ngIf="sorting.sortField === header.column.id">
            <span *ngIf="sorting.sortOrder === 'asc'">
              <i class="feather icon-chevron-down"></i>
            </span>
            <span *ngIf="sorting.sortOrder === 'desc'">
              <i class="feather icon-chevron-up"></i>
            </span>
          </ng-container>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="!isLoading">
      <tr *ngFor="let row of table.getRowModel().rows">
        <td *ngFor="let cell of row.getVisibleCells()">
          <ng-container *flexRender="
                  cell.column.columnDef.cell;
                  props: cell.getContext();
                  let cell
                ">
            <div [innerHTML]="cell"></div>
          </ng-container>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="isLoading">
      <tr *ngFor="let row of table.getRowModel().rows">
        <td *ngFor="let cell of row.getVisibleCells()">
          <p class="paragraph-skeleton" [class.animated]="isLoading"></p>
        </td>
      </tr>
    </tbody>
  </table>
</ng-scrollbar>