<header>
  <div class="m-header" [ngStyle]="{ display: !isMobileHeaderSwitched && isMobile ? 'flex' : 'none' }">
    <a id="mobile-collapse1" class="mobile-menu" (click)="handleMobileCollapseClicked($event)">
      <span></span>
    </a>
    <a class="b-brand" routerLink="/dashboard">
      <div class="b-bg">
        <i class="feather icon-trending-up"></i>
      </div>
      <span class="b-title">Datta Able</span>
    </a>
  </div>
  <a id="mobile-header" class="mobile-menu" [class.on]="isMobileHeaderSwitched"
    (click)="handleMobileHeaderSwitchClicked($event)">
    <i class="feather icon-more-horizontal"></i>
  </a>
  <div class="collapse navbar-collapse px-4"
    [ngStyle]="{ display: isMobileHeaderSwitched && isMobile ? 'block' : 'none' }">
    <div class="me-auto" [ngStyle]="{ display: !isMobile ? 'block' : 'none' }">
      <ul class="navbar-nav">
        <li>
          <a class="full-screen" (click)="toggleFullscreen()">
            <i class="feather icon-maximize"
              [ngClass]="{'icon-maximize': !isFullscreen,'icon-minimize': isFullscreen}"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="ms-auto">
      <ul class="navbar-nav">
        <li>
          <div class="dropdown" [ngClass]="{'show' : isNotificationsOpen }">
            <a class="dropdown-toggle" [ngClass]="{'show' : isNotificationsOpen }" data-toggle="dropdown"
              [attr.aria-expanded]="isNotificationsOpen" (click)="handleNotificationToggleClick($event)">
              <i class="icon feather icon-bell"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end notification" [ngClass]="{'show' : isNotificationsOpen }"
              data-bs-popper="static">
              TEST
            </div>
          </div>
        </li>
        <li>
          <div class="drp-user dropdown">
            <a class="dropdown-toggle" [ngClass]="{'show' : isUserDropdownOpen }" data-toggle="dropdown"
              [attr.aria-expanded]="isUserDropdownOpen" (click)="handleUserDropdownToggleClick($event)">
              <i class="icon feather icon-settings"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end profile-notification" [ngClass]="{'show' : isUserDropdownOpen }"
              data-bs-popper="static">
              TEST
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="pc-menu-overlay" tabindex="-1"></div>