<!-- <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Email</label>
    <input formControlName="email" type="email" />
    <div *ngIf="signinForm.get('email')?.invalid && signinForm.get('email')?.touched">
      Please enter a valid email.
    </div>
  </div>

  <div>
    <label>Password</label>
    <input formControlName="password" type="password" />
    <div *ngIf="signinForm.get('password')?.invalid && signinForm.get('password')?.touched">
      Password is required.
    </div>
  </div>

  <button type="submit" [disabled]="signinForm.invalid">Sign In</button>

  <div *ngIf="error" class="error">{{ error }}</div>
</form> -->
<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-unlock auth-icon"></i>
        </div>
        <h3 class="mb-4">
          Login
        </h3>
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <div class="input-group">
              <label class="sr-only">Email</label>
              <input class="form-control" formControlName="email" type="email" placeholder="Email"
                [class.is-invalid]="email?.invalid && (email?.dirty || email?.touched)" />
            </div>
            <div class="text-danger text-start"
              *ngIf="signinForm.get('email')?.errors && (signinForm.get('email')?.touched || signinForm.get('email')?.dirty)">
              <div *ngIf="email?.errors?.['required']">Email is required.</div>
              <div *ngIf="email?.errors?.['email']">Please enter a valid email address.</div>
            </div>
          </div>

          <div class="mb-4">
            <div class="input-group">
              <label class="sr-only">Passwort</label>
              <input class="form-control" formControlName="password" type="password" placeholder="Passwort"
                [class.is-invalid]="password?.invalid && (password?.dirty || password?.touched)" />
            </div>
            <div class="text-danger text-start" *ngIf="password?.errors && (password?.dirty || password?.touched)">
              <div *ngIf="password?.errors?.['required']">Password is required.</div>
            </div>
          </div>

          <div class="text-start mb-4">
            <div class="checkbox checkbox-fill d-inline">
              <input id="checkbox-fill-a1" type="checkbox" formControlName="saveDetails">
              <label class="cr" for="checkbox-fill-a1">
                Save Details
              </label>
            </div>
          </div>

          <div *ngIf="error" class="text-danger text-start mb-3">
            {{ error }}
          </div>

          <button class="btn btn-primary mb-4" type="submit" [disabled]="signinForm.invalid">
            Login
          </button>
        </form>
        <p class="mb-2 text-muted">
          Forgot password?
          <a href="">
            Reset
          </a>
        </p>
        <p class="mb-0 text-muted">
          Dont't have an account?
          <a href="">
            Sign up
          </a>
        </p>
      </div>
    </div>
  </div>
</div>