.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: .5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: .5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), .03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: .75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.auth-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;

  .auth-content {
    position: relative;
    width: 390px;
    padding: 15px;
  }

  >div {
    z-index: 5;
  }

  .card {
    margin-bottom: 0;
  }

  .auth-icon::before {
    background: linear-gradient(-135deg, #1de9b6, #1dc4e9);
    background-clip: border-box;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .auth-icon {
    font-size: 30px;
  }
}

.card {
  border-radius: 0;
  box-shadow: 0 1px 20px #455a6414;
  border: none;
  margin-bottom: 30px;
  transition: all .5s ease-in-out;

  .card-body {
    padding: 30px 25px;
  }
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

.icon-unlock::before {
  content: "\e8e4";
}

.feather {
  font-family: feather !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auth-wrapper a,
.auth-wrapper p>a {
  color: #111;
  font-weight: 600;
}


/* animating bg */

.auth-wrapper .auth-bg .r {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.auth-wrapper .auth-bg .r:first-child {
  top: -100px;
  right: -100px;
  background: linear-gradient(-135deg, #1de9b6, #1dc4e9);
}

.auth-wrapper .auth-bg .r.s {
  width: 20px;
  height: 20px;
}

.auth-wrapper .auth-bg .r:nth-child(2n+1) {
  animation: floating 7s infinite;
}

.auth-wrapper .auth-bg .r:nth-child(2n) {
  animation: floating 9s infinite;
}

.auth-wrapper .auth-bg .r.s:nth-child(2) {
  top: 150px;
  right: -150px;
  background: #04a9f5;
}

.auth-wrapper .auth-bg .r.s:nth-child(3) {
  left: -150px;
  bottom: 150px;
  background: #1de9b6;
}

.auth-wrapper .auth-bg .r:last-child {
  left: -100px;
  bottom: -100px;
  background: linear-gradient(-135deg, #899fd4, #a389d4);
}

@keyframes floating {
  0% {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}