<app-card cardTitle="Kundenliste">
  <div class="table-filter-wrapper">
    <div class="input-group">
      <label class="sr-only">Nachnamen filtern</label>
      <input class="form-control" [formControl]="lastnameFilter" type="text" placeholder="Nachnamen filtern" />
    </div>
    <div class="input-group">
      <label class="sr-only">Vornamen filtern</label>
      <input class="form-control" [formControl]="firstnameFilter" type="text" placeholder="Vornamen filtern" />
    </div>

    <ul class="role-toggles">
      <li *ngFor="let role of roles">
        <button [class.active]="isRoleSelected(role)" (click)="toggleRole(role)" class="role-toggle">
          {{ roleLabels[role] }}
        </button>
      </li>
    </ul>

  </div>
  <app-table [data]="users" [columns]="columns" [pagination]="pagination" [sorting]="sorting" [totalItems]="totalItems"
    (pageChange)="onPageChange($event)" (sortingChange)="onSortingChange($event.sortField, $event.sortOrder)">
  </app-table>
</app-card>