<app-card *ngIf="viewMode$ | async as viewMode" cardTitle="{{getFormattedDate(selectedDate$ | async)}}">
  <div class="schedule-controls mb-4">
    <app-dropdown #viewModeDropdown>
      <button class="dropdown-trigger-btn btn btn-primary w-full" dropdown-trigger>{{ dropdownLabel[viewMode]
        }}</button>

      <div class="dropdown-content" dropdown-content>
        <ul class="view-mode-options">
          <li>
            <a class="dropdown-item" (click)="handleViewModeChange(viewModeDropdown, 'day')">
              {{ dropdownLabel['day']}}
            </a>
          </li>
          <li>
            <a class="dropdown-item" (click)="handleViewModeChange(viewModeDropdown, 'week')">
              {{ dropdownLabel['week']}}
            </a>
          </li>
          <li>
            <a class="dropdown-item" (click)="handleViewModeChange(viewModeDropdown, 'month')">
              {{ dropdownLabel['month']}}
            </a>
          </li>
        </ul>
      </div>
    </app-dropdown>
    <ng-container [ngSwitch]="viewMode">
      <div *ngSwitchCase="'day'" class="date-select">
        <button type="button" (click)="handleChangeDay(-1)">
          <i class="feather icon-chevron-left"></i>
        </button>
        <input size="8" [ngModel]="selectedDate$ | async" (ngModelChange)="handleDateChange($event)" [owlDateTime]="dt"
          [owlDateTimeTrigger]="dt" [selectMode]="'single'">
        <owl-date-time [pickerType]="'calendar'" [firstDayOfWeek]="1" #dt></owl-date-time>
        <button type="button" (click)="handleChangeDay(1)">
          <i class="feather icon-chevron-right"></i>
        </button>
      </div>
    </ng-container>
  </div>
  <router-outlet></router-outlet>
</app-card>