<nav class="pagination">
  <ul>
    <li class="page-item" [class.disabled]="pageIndex === 0">
      <button type="button" class="page-link" (click)="goToPage(0)" [disabled]="pageIndex === 0">
        First
      </button>
    </li>
    <li class="page-item" [class.disabled]="pageIndex === 0">
      <button type="button" class="page-link" (click)="goToPage(pageIndex - 1)" [disabled]="pageIndex === 0">
        Prev
      </button>
    </li>
    <ng-container *ngFor="let page of paginationPages">
      <li class="page-item" [class.active]="page === pageIndex">
        <span *ngIf="page === pageIndex" class="no-select">
          {{ page + 1 }}
          <span class="sr-only">
            (current)
          </span>
        </span>
        <button *ngIf="page !== pageIndex" type="button" class="page-link" (click)="goToPage(page)">
          {{ page + 1 }}
        </button>
      </li>
    </ng-container>
    <li class="page-item" [class.disabled]="pageIndex === totalPages - 1">
      <button type="button" class="page-link" (click)="goToPage(pageIndex + 1)"
        [disabled]="pageIndex === totalPages - 1">
        Next
      </button>
    </li>
    <li class="page-item" [class.disabled]="pageIndex === totalPages - 1">
      <button type="button" class="page-link" (click)="goToPage(totalPages - 1)"
        [disabled]="pageIndex === totalPages - 1">
        Last
      </button>
    </li>
  </ul>
</nav>