<div class="day-view-container">
  <div class="time-column">
    <div *ngFor="let time of times" class="time-slot">
      <span class="time-label">
        {{ time }}
      </span>
    </div>
  </div>

  <div class="appointment-column">
    <div class="appointment-track-bg">
      <div *ngFor="let time of times" class="appointment-track-guides"></div>
    </div>
    <div class="appointment-track">
      <ng-container *ngIf="appointments$ | async as appointments">
        <div *ngFor="let app of appointments" class="appointment-block" [ngStyle]="{
               top: getAppointmentTopFromString(app.start),
               height: getAppointmentHeight(app.duration)
             }">
          <strong>{{ app.serviceName || 'Appointment' }}</strong><br />
          {{ app.customerFirstname }} {{ app.customerLastname }}
        </div>
      </ng-container>
    </div>
  </div>
</div>