.day-view-container {
  --day-view-timesslot-height: 30px;
  --day-view-time-column-width: 38px;
  display: flex;
  position: relative;
}

.time-column {
  width: var(--day-view-time-column-width);
  border-right: 1px solid var(--bs-border-color);
}

.time-slot {
  position: relative;
  height: var(--day-view-timesslot-height);
  font-size: 12px;
  text-align: right;
  padding-right: 8px;
  box-sizing: border-box;
  color: var(--bs-gray-600);
}

.time-slot:last-child {
  height: 0;
}

.time-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -50%);
}

.appointment-column {
  flex-grow: 1;
  position: relative;
  background: var(--bs-tertiary-bg);
}

.appointment-track-bg {
  position: absolute;
  inset: 0;
}

.appointment-track-guides {
  height: var(--day-view-timesslot-height);
}

.appointment-track-guides:not(:last-child) {
  border-bottom: 1px dashed var(--bs-border-color);
}

.appointment-track-guides:last-child {
  border-bottom: none;
  height: 0;
}

.appointment-track-guides:nth-last-child(2) {
  border-bottom: none;
}

.appointment-track {
  position: relative;
  height: 100%;
}

.appointment-block {
  position: absolute;
  left: 10px;
  right: 10px;
  padding: 6px;
  border-radius: 4px;
  font-size: 12px;
  box-sizing: border-box;
  overflow: hidden;
}

.appointment-block.Schneiden {
  background-color: #cce5ff;
  border: 1px solid #99cfff;
  border-left: 4px solid #3399ff;
}

.appointment-block.KindU6 {
  background-color: #ffe6e6;
  border: 1px solid #ffcccc;
  border-left: 4px solid #ff4d4d;
}

.appointment-block.KindU12 {
  background-color: #e6ffe6;
  border: 1px solid #ccffcc;
  border-left: 4px solid #33cc33;
}

.appointment-block.TeenU14 {
  background-color: #fff5cc;
  border: 1px solid #ffe680;
  border-left: 4px solid #ffcc00;
}

.appointment-block.Cornrows {
  background-color: #f9e6ff;
  border: 1px solid #e0b3ff;
  border-left: 4px solid #cc66ff;
}

.appointment-block.Greyblending {
  background-color: #f0f0f0;
  border: 1px solid #d9d9d9;
  border-left: 4px solid #999999;
}

.appointment-block.Rasur {
  background-color: #fce5cd;
  border: 1px solid #f9cb9c;
  border-left: 4px solid #e69138;
}

.appointment-block.Coloration {
  background-color: #f8e6e9;
  border: 1px solid #f2c2cb;
  border-left: 4px solid #d6336c;
}

.appointment-block.Dauerwelle {
  background-color: #e6f2ff;
  border: 1px solid #b3d7ff;
  border-left: 4px solid #3399ff;
}