.sidebar-not-fixed .sidebar {
  width: var(--bs-sidebar-collapsed-width);
  height: 100%;
  //transition: all .3s ease-in-out;
}

.sidebar-not-fixed .sidebar:hover {
  width: var(--bs-sidebar-width);
}

.main-content {
  margin-left: var(--bs-sidebar-collapsed-width);
  flex: 1;
  display: flex;
  flex-direction: column;
  //transition: all .3s ease-in-out; // delete later

  .body {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
  }
}

.sidebar-fixed .main-content {
  margin-left: var(--bs-sidebar-width);
}